.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 1.5rem 1rem;
    height: 40px;
    width: 55%;
}

.theme{
    margin: 0 1rem 1.5rem 1rem;
    width: 60px;
    height: 35px;
}



.search-box > input{
    width: 80%;
    height: 100%;
    font-size: 1rem;
}

input{
    border: 1px solid #393838;
    border-radius: 20px;
    outline: none; 
    padding-left: 1rem;
}

select{
    border-radius: 20px;
    height: 30px;
}

td input{
    height: 30px;
    font-size: 0.9rem;
}

.head-tile{
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.table{
    table-layout: auto;
    width: 100%;
    padding: 0 4rem 0 4rem;
}

th{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    padding-left: 1rem;
}

thead{
    background-color: #39383868;
    height: 50px;
}

td{
    font-size: 1.1rem;
}

.table-row:hover{
    background-color: rgba(19, 18, 18, 0.068);
}

.row-item{
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.actions{
    text-align: center;
}

button,input{
    cursor: pointer;
}

.button {
    color: #fff; 
    font-weight: bold; 
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem; 
    border: none;
}
.delete {
    background-color: #EF4444; 
}

.edit{
    background-color: #3B82F6;
}

.save{
    background-color: rgba(128, 223, 128, 0.813)
}

.selected-row {
    background-color: rgba(19, 18, 18, 0.123); 
  }

.pagination {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.pagination > div{
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
}

.pagination__disable{
    opacity: 0;
}

.pagination__selected{
    background-color: rgb(220, 220, 220);
}

.control-panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.select-all{
    font-size: 1.1rem;
    padding: 0 1rem 1.5rem 1rem;
}

.All-deleted{
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
}

.del{
    display: flex;
    gap: 5px;
    padding: 0 1rem 1.5rem 1rem;
}

.Dark input,.Dark select{
    background: rgba(128, 128, 128, 0.29);
    color: white;
}

.Dark select:focus{
    background: rgb(39, 37, 37);
    color: white;
}

.Dark thead{
    background-color: rgba(128, 128, 128, 0.404);
}

.Dark .pagination__selected{
    background-color: rgba(128, 128, 128, 0.5);
}

.Dark .table-row:hover{
    background-color: rgba(66, 66, 66, 0.4);
}

.Dark .selected-row{
    background-color: rgba(66, 66, 66, 0.55);
}

@media only screen and (max-width: 600px) {

    .control-panel{
        flex-direction: column;
    }

    .search-box{
        width: 80%;
        order: -1;
    }

    .search-box input{
        width: 100%;
    }

    td{
        display: block;
    }

    .del,.control-panel{
        padding: 0;
        margin: 0;
    }

    td::before{
        content: attr(data-cell);
        font-weight: 600;
        text-transform: capitalize;
    }

    th{
        display: none;
    }
}